<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head"></head>

<body>
	<div th:replace="fragments/navbar :: nav_bar"></div>
	<main>

		<section class="py-5 text-center container">
			<div class="row py-lg-5">
				<div class="col-lg-6 col-md-8 mx-auto">
					<h1 class="fw-light" th:text="'Error ' + ${codigo}"></h1>
					<p class="lead text-muted" th:text="${mensaje}"></p>

				</div>
			</div>

			<section class="py-5 text-center container">
				<div class="row py-lg-5">
					<div class="col-lg-6 col-md-8 mx-auto">
						<a th:href="@{/}" class="btn btn-primary my-2">Volver</a>
					</div>
				</div>
			</section>

		</section>

	</main>
</body>

</html>