<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head"></head>

<body>
	<nav th:replace="fragments/navbar :: nav_bar"></nav>
	<div class="container m-5">

		<div th:if="${exito}!=null" class="card text-white bg-success mb-3">
			<div class="card-body">
				<h5 class="card-title">Exito</h5>
				<p class="card-text">Abuela cargada correctamente</p>
			</div>
		</div>
		<div th:if="${error}!=null" class="card text-white bg-danger mb-3">
			<div class="card-body">
				<h5 class="card-title">Error</h5>
				<p class="card-text">Error al cargar la abuela</p>
			</div>
		</div>

		<form th:action="@{/abuela/registrar}" method="POST">

			<div class="form-group">
				<label class="form-label">Apellido</label>
				<input type="text" style="text-transform:uppercase;" value=""
					onkeyup="javascript:this.value=this.value.toUpperCase();" class="form-control" name="apellido"
					placeholder="Apellido de abuela">
			</div>
			
			<div class="form-group">
				<label class="form-label">Nombre</label>
				<input type="text" style="text-transform:uppercase;" value=""
					onkeyup="javascript:this.value=this.value.toUpperCase();" class="form-control" name="nombre"
					placeholder="Nombre de abuela">
			</div>

			<div class="form-group">
				<label class="form-label">Documento</label>
				<input type="number" class="form-control" name="documento" placeholder="Documento de abuela">
			</div>

			<div class="form-group">
				<label class="form-label">Apodo</label>
				<input type="text" style="text-transform:uppercase;" value=""
					onkeyup="javascript:this.value=this.value.toUpperCase();" class="form-control" name="apodo"
					placeholder="Apodo de abuela">
			</div>

			<div class="form-group">
				<label class="form-label">Mail</label>
				<input type="email" style="text-transform:lowercase;" value=""
					onkeyup="javascript:this.value=this.value.LowerCase();" class="form-control" name="email"
					placeholder="Mail de familiar">
			</div>

			<div class="form-group">
				<label class="form-label">Cuota</label>
				<input type="number" class="form-control" name="precio" placeholder="Cuota de abuela">
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

		<section class="py-5 text-center container">
			<div class="row py-lg-5">
				<div class="col-lg-6 col-md-8 mx-auto">
					<a th:href="@{/}" class="btn btn-primary my-2">Volver</a>
					</p>
				</div>
			</div>
		</section>

	</div>

</body>

</html>