<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head"></head>

<body>
	<header>
		<nav th:replace="fragments/navbar :: nav_bar"></nav>
		<div class="collapse bg-dark" id="navbarHeader">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-md-7 py-4">
						<h4 class="text-white">Bienvenidos a La Flor del Bambu</h4>
					</div>
				</div>
			</div>
		</div>
		<div>
			<p>
				<a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="@{/abuela/lista}"
                    class="btn btn-primary my-2">Panel de Abuelas</a>
                <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
                    th:href="@{/abuela/registro}" class="btn btn-secondary my-2">Cargar Abuela</a>
                <a th:if="${#authorization.expression('hasAnyRole(''USUARIO'', ''ADMIN'')')}"
                 th:href="@{/usuario/registro}" class="btn btn-danger my-2">Registrar Usuario</a>
            </p>

        </div>
    </header>
</body>

</html>